@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "tutechoahora";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(100% 0 0);
  --color-base-content: oklch(34.07% 0.000 0);
  --color-primary: oklch(63.06% 0.199 140.07);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(54% 0.245 262.881);
  --color-secondary-content: oklch(55% 0.046 257.417);
  --color-accent: oklch(29% 0.136 325.661);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(63.06% 0.199 140.07);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(39% 0.141 25.723);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@font-face {
  font-family: 'DarkerGrotesque';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DarkerGrotesque', sans-serif;
}

body {
  font-family: 'Comfortaa', sans-serif;
}